{% extends 'base.html.twig' %}

{% block title %}Nova postagem{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="text-center">
        <h1>Inserir postagem</h1> 
    </div>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6 bg-white rounded my-3 p-5 border border-dark">
                {{ form(form)  }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
