{% extends 'base.html.twig' %}

{% block title %}Nova postagem{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Inserir postagem</h1>

    {{ form(form) }}
</div>
{% endblock %}
